@page
@model LPA.Pages.Phases.AddModel
@{
	var message = ViewData["Message"]?.ToString();
}

<form method="post">
	<h1 class="mb-3">Ajouter une phase</h1>

	@if (!string.IsNullOrWhiteSpace(message))
	{
		<div class="alert alert-success" role="alert">
			@message
		</div>
	}
	<div class="mb-3">
		<label class="form-label">Nom</label>
		<input type="text" class="form-control" asp-for="AddPhaseRequest.Libelle" />
	</div>

	<div class="mb-3">
		<button type="submit" class="btn btn-primary">Enregistrer</button>
	</div>
</form>
